<div class="col-md-8 col-md-offset-2">
  <div class="dropdown clearfix pull-right">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        排序方式
          <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
          <li>
            <%= link_to("按照薪资下限排序", jobs_path(:order => "by_lower_bound")) %>
          </li>
          <li role="separator" class="divider"></li>
          <li>
              <%= link_to("按照薪资上限排序", jobs_path(:order => "by_upper_bound")) %>

          </li>
          <li role="separator" class="divider"></li>
          <li>
            <%= link_to("按照发表时间排序", jobs_path ) %>

          </li>
      </ul>
  </div>
  <div id="jobs">
    <% @jobs.each do |job| %>
    <div class="job">
      <h2><%= link_to(job.title, job_path(job) )%></h2>
      <p><%= job.company %></p>
      <h4 style="color:#f7ae9d"><%= job.wage_upper_bound %>K - <%= job.wage_lower_bound %>K</h4>
      发布于：<%= job.created_at.to_s(:ymd) %>
    </div>
    <% end %>
  </div>
  <div class="text-center">
    <%= will_paginate @jobs, renderer: BootstrapPagination::Rails, previous_label:"上一页", next_label: "下一页"%>
  </div>
</div>
