<div class="col-md-8 col-md-offset-2">
  <div id="jobs">
    <div class="job">
      <h2><%= @job.title %></h2>
      <div class="trix-content">
        <h5>职务要求：</h5>
          <p> <%= simple_format(@job.description) %> </p>
      </div>
      <div>
        <h5>公司：</h5>
        <p><%= @job.company %></p>
      </div>
      <div>
        <h5>邮箱：</h5>
        <p><%= @job.url %></p>
      </div>
      <div>
        <h5>工作地址：</h5>
        <p><%= @job.address %></p>
      </div>
    </div>
  </div>
  <div class="text-center">
    <%= link_to("投交简历", new_job_resume_path(@job), class: "btn btn-default") %>
  </div>
</div>
