<%= simple_form_for [:admin, @job] do |f| %>
<div class="group">
  <%= f.input :title, label: "标题", input_html: { class: "form-control" } %>
</div>
<div class="group">
  <%= f.input :description , label: "内容", input_html: { class: "form-control" }%>
</div>
<div class="group">
  <%= f.input :company, label: "公司", input_html: { class: "form-control" } %>
</div>
<div class="group">
  <%= f.input :wage_lower_bound, label: "薪资下限" %>
</div>
<div class="group">
  <%= f.input :wage_upper_bound, label: "薪资上限" %>
</div>
<div class="group">
  <%= f.input :address, label: "地址" %>
</div>
<div class="group">
  <%= f.input :url, label: "网址", input_html: { class: "form-control" } %>
</div>
<div class="group">
  <%= f.input :is_hidden, label: "隐藏" %>
</div>
<div class="group">
  <%= f.submit "添加工作", data: { disable_with: "Submitting..." } %>
</div>
<% end %>

<script type="text/javascript">
  autosize($('#job_description'));
</script>
