<div class="col-md-6 col-md-offset-3">
  <div class="pull-right">
    <%= link_to("编辑", edit_admin_job_path(@job), class: "btn btn-default")%>
    <%= link_to("删除", admin_job_path(@job), class: "btn btn-default",method: :delete, data: {confirm: "你确定删除吗？"}) %>
  </div>
  <div id="jobs">
    <div class="job">
      <h2><%= @job.title %></h2>
      <div class="trix-content">
        <h5>职务要求：</h5>
          <p> <%= simple_format(@job.description) %> </p>
      </div>
      <br>
      <div>
        <h5>创建时间：</h5>
        <p><%= @job.created_at %></p>
      </div>

    </div>
  </div>
</div>
