<div class="col-md-8 col-md-offset-2">
<h3> 投交履历到 <%= @job.title %> </h3>

<hr>

<%= simple_form_for [@job, @resume] do |f| %>
  <%= f.input :content, label: "内容" %>
  <%= f.input :attachment,label: "添加附件"%>
  <%= f.submit "送出" %>
<% end %>
</div>

<script type="text/javascript">
  autosize($('#resume_content'));
</script>
