<!DOCTYPE html>
<html>
  <head>
    <title>Jobs</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container-fluid">
      <div class="row">
        <%= render "common/navbar"%>
        <%= render "common/flashes"%>
      </div>
      <%= yield %>
      <div class="container">
      </div>
      <p style="text-align:center; padding:10px 0px 5px 0px;">
        <br>Design by  <a href=https://github.com/zhaozongchang >zhaochang</a>
      </p>
    </div>
  </body>
</html>
